
<div class="container">
  <div class="row col-lg-12">
      <h3>Taper votre question svp : </h3>
  </div>
  <form action="http://localhost:3000/answer">
    <div class="row col-lg-12">
        <input type="text" name="question" placeholder="Question ?">
      </div>
      <div class="row col-lg-12">
        <input type="submit" value="Ask!" class="btn btn-danger" >
      </div>
  </form>
</div>
